* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.container {
  border: 0.3rem solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 50vh;
  align-items: center;
  }

.box {
  /* width: 10rem; */
  height: 10rem;
  flex-basis:10rem ;
  flex-grow: 1;
  
}

.box1 {
  background-color: palegoldenrod;
  order: 1;
  /* flex-grow: 3; */
}
.box2 {
  background-color: papayawhip;
  order: 3;
}
.box3 {
  background-color: pink;
}
.box4 {
  background-color: palevioletred;
}
.box5 {
  background-color: plum;
  order: 4;
}
.box6 {
  background-color: purple;
  order:2;
  /* flex-grow: 1 */
}
