---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Curso HTMX">
  <a
    href="./examples/01"
    class="text-lg bloack p-4 border border-gray-200 text-white"
  >
    Example 1
  </a>
</Layout>

<style></style>
